.core, .problem, .detail, .next {
  color: #000;
  font-size: 14px;

  .paragraph {
    white-space: pre-wrap;
    line-height: 1.75;
  }
  .title {
    font-size: 18px;
    color: rgb(0, 112, 192);
    font-weight: bold;
  }
  .project-title {
    font-weight: bold;
  }
}

.problem {
  .title {
    color: rgb(255, 0, 0);
  }
}
